<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <%- include('../partials/head') %>
</head>

<body class="mx-3 pb-3">
    <%- include('../partials/navbar') %>
    <h1>
        <%= title %>
    </h1>
    <p class="text-success">
        <%= texte %>
    </p>
    <form method="get" action="/">
        <input type="submit" value="Déconnexion" />
    </form>
    <%- include('../partials/footer') %>
</body>
</html>