<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <%- include('../partials/head') %>
</head>

<body class="mx-3 pt-3">
    <%- include('../partials/navbar') %>
    <%- include('../partials/default') %>
    <%- include('../partials/changeTXT') %>
    <%- include('../partials/changePASS') %>

    <div class="jumbotron pt-4 pb-3">
        <table id="tabSQL" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>login</th>
                    <th>password</th>
                    <th>level</th>
                    <th>texte</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <% rows.forEach(row => { %>
                    <tr>
                        <td><%= row.id %></td>
                        <td><%= row.login %></td>
                        <td><%= row.password %></td>
                        <td><%= row.level %></td>
                        <td class="text-success"><%= row.texte %></td>
                        <td>
                            <% if (row.level < 3) { %>
                                <button class="btn btn-primary">Edit</button>
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
        </table>
    </div>
    

    <script type="module">
        const socket = io();
        const password = document.getElementById('password');
        const texte = document.getElementById('texte');
        texte.addEventListener('submit', (e) => {
          e.preventDefault();
          socket.emit('changeTexte', { texte: texte.texte.value , login: document.getElementById('login').innerText});
        });
        password.addEventListener('submit', (e) => {
          e.preventDefault();
          socket.emit('changePassword', { password: password.password.value , login: document.getElementById('login').innerText});
        });
        
        socket.on('textSuccess', (data) => {
            if (data.login === document.getElementById('login').innerText) {
                $('#pTexte').text(data.texte);
            }
            $('#tabSQL tbody').html(data.str);
        });


    </script>
     <%- include('../partials/footer') %>
</body>
</html>