<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <%- include('../partials/head') %>
</head>

<body class="mx-3 pt-3">
    <%- include('../partials/navbar') %>
    <%- include('../partials/default') %>
    <%- include('../partials/changeTXT') %>
    <%- include('../partials/changePASS') %>
    
    <form method="get" action="/">
        <input type="submit" value="Déconnexion" />
    </form>

    <script type="module">
        const socket = io();
        const password = document.getElementById('password');
        const texte = document.getElementById('texte');
        texte.addEventListener('submit', (e) => {
          e.preventDefault();
          socket.emit('changeTexte', { texte: texte.texte.value , login: document.getElementById('login').innerText});
        });
        password.addEventListener('submit', (e) => {
          e.preventDefault();
          socket.emit('changePassword', { password: password.password.value , login: '<%= login%>'});
        });
        
        socket.on('textSuccess', (data) => {
          $('#pTexte').text(data.texte);
        });
    </script>
     <%- include('../partials/footer') %>
</body>
</html>