<!--
* File: level1.ejs
* Description: page de niveau 1
* Author: samuel Des Cormiers
* Created: 2024-10-21
* Version: 1.0
-->
<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <%- include('../partials/head') %>
</head>

<body class="mx-3 pt-3">
    <%- include('../partials/navbar') %>
    <%- include('../partials/default') %>
    <%- include('../partials/changeTXT') %>

    <script>
        const socket = io();
        const password = document.getElementById('password');
        const texte = document.getElementById('texte');
        texte.addEventListener('submit', (e) => {
          e.preventDefault();
          socket.emit('changeTexte', { texte: texte.texte.value , login: document.getElementById('login').innerText});
        });
        
        socket.on('textSuccess', (data) => {
            if (data.login === document.getElementById('login').innerText) {
                $('#pTexte').text(data.texte);
            }
        });
    </script>
    <%- include('../partials/footer') %>
</body>
</html>